%p#notice= notice
%div.well
  %h2= resource.title
  %p
    %span.content= resource.content
    %br
    %span.user
      by #{resource.user.email}
    %span.timestamp
      article posted #{time_ago_in_words(resource.created_at)} ago.
    - if current_user.present? && current_user == resource.user
      = link_to "delete", resource, method: :delete,
          title: resource.content




= link_to 'Back', articles_path
\|
- if current_user.present? && current_user == resource.user
  = link_to 'Edit', edit_article_path(resource)
